@page "/pks/main"
@rendermode InteractiveServer
@inject IDataAccessService dataAccessService

<PageTitle>MainPK</PageTitle>

<h1 @onclick="Hello">This is the name of that PK</h1>

This is the content of that PK

<div>
    <button class="btn btn-primary" @onclick="OnGetListViewButtonClick">GetListViewTest</button>
</div>


@code {
    private void Hello()
    {
        Console.WriteLine("hello");
    }

    private async Task OnGetListViewButtonClick()
    {
        await dataAccessService.TestGetAccounts();
    }
}
