@page "/pks/main"
@rendermode InteractiveServer
@inject IAccountService accountService

<PageTitle>MainPK</PageTitle>

<h1 @onclick="Hello">This is the name of that PK</h1>

This is the content of that PK

<div>
    <code>@tmpOutput</code>
</div>

<div>
    <button class="btn btn-primary" @onclick="OnGetAccountsButtonClick">Test Get Accounts</button>
    <button class="btn btn-primary" @onclick="OnCreateAccountButtonClick">Test Add Account</button>
</div>


@code {
    private string tmpOutput = "";

    private void Hello()
    {
        Console.WriteLine("hello");
    }

    private async Task OnGetAccountsButtonClick()
    {
        List<string> ids = new()
        {
            "0018b00002bOgwYAAS",
            "0018b00002bOgwZAAS",
        };
        List<Account> accounts = await accountService.GetAccountsByIDs(ids);
        tmpOutput = JsonSerializer.Serialize(accounts);
    }

    private async Task OnCreateAccountButtonClick()
    {
        // await dataAccessService.TestAddAccount();
    }
}
